@{
    ViewData["Title"]="Cart";
}

<p>Hehe look at me, I'm a database</p>

<table class="CartController"><!--Contains the data pulled from the database.-->
    <thead>
        <tr>
            <th>Product ID,</th>
            <th>Name,</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null && Model.Any())//Go and find the products and display them:
        {
            foreach (var product in Model)
            {
                <tr><!--containers for the products-->
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                </tr>
            }
        }
        else//If there are no products to display:
        {
            <tr>
                <td colspan="3">No products found.</td>
            </tr>
        }
    </tbody>
</table>
<button>
    <a href="Checkout">Checkout</a><!--Sends you to the ccheckout dimension-->
</button>